.bg-1{
  background-color: #DCDCDC; /* Dark Blue */
  color: #ffffff;
}

.bg-2{
  background-color: #273c42; /* Grey */
  color: #ffffff;
}

.textBoxModal{
  width: 460px;
  height: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.input-1 {
  margin-top: 10px;
}

.btn-1 {
  width: 140px;
  height: 40px;
  margin-top: 10px;
}

.modal-header {
  background-color: #273c42;
  color: #ffffff;
}

#hoverDescription{
  display:block;
  text-overflow: ellipsis;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
}
